/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Conteneur principal pour centrer le contenu */
.container {
    max-width: 50%;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1{
    margin-left: 30%;
}
/* Styles pour le formulaire de recherche */
form { margin-left: 30%;
    width: 40%;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Styles pour la table des contraventions */
table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 25%;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styles pour les liens "Plus" */
table a {
    text-decoration: none;
    color: #007bff;
}

table a:hover {
    text-decoration: underline;
    color: #0056b3;
}
